#myskills {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    animation: section 0.9s;

    .title-section {
        text-align: center;
        margin-top: 15vh;

        h2 {
            font-size: 30px;
            text-transform: uppercase;
            color: $color-white;
            letter-spacing: .9px;
            font-weight: bolder;
            margin-bottom: 5vh;
        }
    }

    div {
        text-align: center;
        img {
            width: 50%;
            margin: 0 auto;
            margin-right: 60px;
            margin-bottom: 30px;

            &:hover {
                transition: all .2s;
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }

    .durning {
        text-align: center;

        h3 {
            font-size: 20px;
            text-transform: uppercase;
            color: $color-white;
            letter-spacing: .9px;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }

        img {
            width: 35%;
        }
    }
}